{% assign items = data[1].contents %}

<div class="cv-timeline">
  {% for item in items %}
  <div class="cv-item">
    <div class="cv-year">{{ item.year }}</div>
    
    <div class="cv-title">{{ item.title }}</div>
    
    {% if item.institution %}
    <div class="cv-institution">
      <i class="fas fa-university"></i> {{ item.institution }}
    </div>
    {% endif %}
    
    {% if item.keywords %}
    <div class="cv-keywords">
      {% assign keywords = item.keywords | split: ", " %}
      {% for keyword in keywords %}
        <span class="keyword">{{ keyword }}</span>
      {% endfor %}
    </div>
    {% endif %}
    
    {% if item.description %}
    <ul class="cv-description">
      {% for desc in item.description %}
      <li>{{ desc }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    
    {% if item.items %}
    <ul class="cv-description">
      {% for subitem in item.items %}
      <li>{{ subitem }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  {% endfor %}
</div>
